@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=neurology');
:root{

    --color-primary:#e6c7c7;
    --color-secondary:#eef3ef;
    --color-tertiary:#f0e1e1f1;
    --color-bg:#e0dcdc;
    --text-primary:#333333;
    --text-secondary:#8a8987;
    --icon-logo:#8a8987;
}

/* ##############################################  Config Global ##########################################*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Inter", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--text-primary);   
    background-color:var(--color-bg);
}

/* ##############################################  HEADER ##########################################*/
.container-header{
    border-bottom: 1px solid var(--color-primary);
}
.navbar{
    background-color:var(--color-bg)!important ;
    padding: 0;
}
#icone{
    font-size: 32px;
    color: var(--color-primary);
    padding: 0 5px 0 0;
}
.navbar-brand{
    font-size: 1.3rem;    
    margin-left: 8px;
}
/* ##############################################  MAIN ##########################################*/
.container-main{
    margin-top: 65px;
}

/* ##############################################  MEDIA QUERY ##########################################*/
@media(max-width:309px) {
    .navbar-toggler{
        display: none;
    }
    #icone{
        display: none;
    }
}
@media (min-width: 309px) and (max-width: 576px){ 

}
@media (min-width: 768){ 

}
@media (min-width: 992px){ 

}
@media (min-width: 1200px){ 

}