@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=neurology');
:root{

    --color-primary:#e6c7c7;
    --color-secondary:#eef3ef;
    --color-tertiary:#f0e1e1f1;
    --color-bg:#e0dcdc;
    --text-primary:#333333;
    --text-secondary:#8a8987;
    --icon-logo:#8a8987;

}

/* ##############################################  Config Global ##########################################*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ##############################################  HEADER ##########################################*/
.navbar{
    background-color:var(--color-bg)!important ;
    
}
