@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=neurology');

:root{

    --color-primary:#e6c7c7;
    --color-secondary:#eef3ef;
    --color-bg:#fafafa;
    --text-primary:#333333;
    --text-secondary:#8a8987;
    --icon-logo:#8a8987;
    /*
    --color-primary: #E6C7C7;
    --color-secondary:#eef3ef;
    --color-dark:#1a1a1a;
    --color-light: #FDFBF6;
    --text-light:#333333;
    --text-dark:#EAE6E1;
    --icon-logo: #a8c5d4;*/
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    font-family: "Inter", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--text-primary);   
    background-color:var(--color-bg);    
}
.container{
    border-bottom: 1px solid var(--color-primary);
    height: 75px;
}
#icone{
    font-size: 32px;
    color: var(--color-primary);
    padding: 0 5px 0 0;
}
.navbar-brand {
    font-size: 1.5rem;
}
.nav-item{
    font-weight: 500;
    padding: 0 10px 0 10px;
}
.nav-link:hover{
    color: var(--color-primary);
}
.btn-cta{
    background-color: var(--color-primary);
    color: var(--color-dark);
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-weight: 600;
    transition: all 0.3s ease;
    font-size: 14px;
}
.btn-cta:hover {
    background-color: #c99999;
    color: var(--color-dark);
    transform: translateY(-2px);
}